body {
    color: white;
}

.content .main-content {
    display: flex;
    flex-direction: column;
}

.content .main-content .text-content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 387px 0 387px;
}

.content .main-content .text-content .header{
    font-size: 35px;
}

.content .main-content .text-content .desc {
    margin-top: 7px;
    margin-bottom: 90px;
    text-align: center;
}

.content .main-content .team-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 40px;
}

.content .main-content .team-image .detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}