.addMusicPage-content hr{
    border: 0.5px solid var(--purple-2, #A69CF8);
}

.addMusicPage-container{
    display: flex;
}

.addMusicPage-content{
    width: 100vw;
}

.addMusicPage-core-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 39px;
    padding: 63px 314px 30px 314px;
}

.addMusicPage-core-content .addMusicCover-field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 54px;
    color: var(--primary, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 15px;
    border: 1px solid var(--purple-2, #A69CF8);
}

.addMusicPage-core-content .addMusicCover-field img{
    width: 70px;
    height: 74px;
}

.addMusicPage-core-content input{
    border-radius: 7px;
    border: 1px solid var(--purple-2, #A69CF8);
    background-color: #161616;
    padding: 18px 26px;
    width: 680px;
    color: white;
}

.addMusicPage-core-content input[type="file"]::before{
    content: 'Upload Music';
    background-color: #161616;
    color: rgba(255, 255, 255, 0.50) !important;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: white;
}

.addMusicPage-core-content input[type='file']::-webkit-file-upload-button {
    display: none;
}

.addMusicPage-core-content input[type='file']::-webkit-file-selector-button {
    display: none;
}

.addMusicPage-core-content input[type='file']{
    color: transparent;
}

.addMusicPage-core-content .uploadMusic-field{
    position: relative;
}

.addMusicPage-core-content .uploadMusic-field label{
    position: absolute;
    right: 10px;
    top: 13px;
}

.addMusicPage-core-content .uploadMusic-field label img{
    width: 30px;
    height: 30px;
}

.addMusicPage-core-content .confirm-button{
    color: var(--f-570, rgba(245, 245, 245, 0.70));
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    margin-top: -25px !important;
}

.addMusicPage-core-content:last-child .confirm-button{
    margin-right: -630px;
}
