.dashboard-admin-container {
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.dashboard-admin-container .dashboard-admin-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.dashboard-admin-content .dashboard-admin-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-admin-content hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.dashboard-admin-content .dashboard-admin-top p {
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 34px 0 25px 50px;
}

.dashboard-admin-content .dashboard-admin-top .user-profile {
    margin: 32px 38px 0 0;
}

.dashboard-admin-top .user-profile img{
    width: 60px;
    height: 60px;
}

.dashboard-admin-core-content {
    margin: 40px;
    height: 100vh;
}

.dashboard-admin-core-content h2 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    line-height: 52.5px;
    text-align: left;

}

.dashboard-core-content-group-button .music-links-button {
    background-color: var(--purple-2, #A69CF8) !important;
}

.dashboard-core-content-group-button .story-links-button {
    background-color: var(--purple-2, #E17CB5) !important;
}

.dashboard-core-content-group-button .users-links-button {
    background-color: var(--purple-2, #5946F4) !important;
}


.dashboard-core-content-group-button .dashboard-core-content-button img {
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
}

.dashboard-core-content-group-button .dashboard-core-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dashboard-core-content-group-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 328px;
}