.dashboard-music-container {
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.dashboard-music-container .dashboard-music-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.dashboard-music-content .dashboard-music-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-music-content hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.dashboard-music-content .dashboard-music-top p {
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dashboard-music-content .dashboard-music-top .user-profile {
    margin: 32px 38px 0 0;
}

.dashboard-music-top .user-profile img{
    width: 60px;
    height: 60px;
}

.dashboard-music-top .back-button-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 34px 0 0 50px;
}

.dashboard-music-top .back-button-dashboard p{
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dashboard-music-top .back-button-dashboard img{
    width: 28px;
    height: 50px;
}

.dashboard-music-core-content {
    margin: 40px 40px 150px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-music-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}


.dashboard-music-list-content {
    margin-bottom: 100px;
}

.dashboard-music-core-content .dashboard-music-card .music-content {
    display: flex;
}

.dashboard-music-core-content .dashboard-music-card .music-content p {
    margin-right: 20px;
}

.dashboard-music-core-content .dashboard-music-card .music-content img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    border-radius: 7px;
}

.dashboard-music-core-content .dashboard-music-card .music-duration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-music-core-content .dashboard-music-card .music-duration p {
    margin-right: 36px;
}

.dashboard-music-core-content .dashboard-music-card .music-duration img {
    width: 25px;
    height: 25px;
}

.dashboard-music-core-content .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-music-core-content .dashboard-add-button {
    background-color: #292929;
    border-radius: 100%;
    padding: 30px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 130px
}

.dashboard-add-button img {
    width: 42.857px;
    height: 42.857px;
}

.dashboard-music-delete-modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 10;
}

.dashboard-music-delete-modal::before {
    content: '';
    position: fixed;
    top: -200px;
    left: -500px;
    width: 200vw;
    height: 200vh;
    backdrop-filter: blur(6px);
    z-index: -1;
}

.dashboard-music-delete-modal .dashboard-music-delete-modal-content {
    width: 520px;
    height: 300px;
    border-radius: 7px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}


.dashboard-music-delete-modal .dashboard-music-delete-modal-content {
    width: 520px;
    height: 300px;
    border-radius: 7px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}


.dashboard-music-delete-modal p {
    font-family: 'Poppins' !important;
    color: #262626 !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    margin-bottom: 32px !important;
    margin-right: -0.5px !important;
}

.dashboard-music-delete-modal button {
    width: 100px;
    height: 30px;
    padding: 0px 37px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
}

.dashboard-music-delete-modal .delete-modal-button-group button:first-child {
    background-color: var(--blue, #0164E5);
    color: var(--primary, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border: none;
}

.dashboard-music-delete-modal .delete-modal-button-group button:last-child {
    border: 1px solid #E91D1D;
    color: #E91D1D;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
} 

.dashboard-story-core-content .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-story-core-content .dashboard-add-button {
    background-color: #292929;
    border-radius: 100%;
    padding: 30px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 130px
}

.dashboard-add-button img {
    width: 42.857px;
    height: 42.857px;
}