.main {
    color: white;
    height: 100%;
}

.journalPages-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.back-button-journalPages {
    margin: 34px 0 0 50px;
}

.main .journalPages-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.main .main-content-music {
    display: flex;
    flex-direction: row;
}

.container .main .main-content-music .music-cover img {
    width: 700px;
    height: 600px;
    margin-left: 40px;
}

.container .main .main-content-music {
   display: flex;
}

.container .main .main-content-music .explore {
    margin: 0px 40px 20px 40px;
    font-size: 30px;
    width: 100%;
}

.container .main .main-content-music .explore .rec {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1D1E1F;
    color: white;
    border-radius: 7px;
    align-items: center;
    margin-bottom: 20px;
}

.container .main .main-content-music .explore .rec .music-rec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .main .main-content-music .explore .rec .music-rec p {
    font-size: 20px;
    margin-left: 10px;
}

.container .main .main-content-music .explore .rec .music-rec img {
    width: 65px;
    height: 65px;
}

.container .main .main-content-music .explore .rec .play img {
    display: flex;
    width: 25px;
    height: 25px;
}

.container .main .button-bar {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.container .main .button-bar .detail-music {
    justify-content: center;
}

.container .main .button-bar .detail-music .title {
    font-size: 30px;
}

.container .main .button-bar .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .main .button-bar .button img {
    width: 30px;
    height: 30px;
    margin: 0 15px 0 15px;
}

.container .main .button-bar .button .play {
    width: 60px;
    height: 60px;
}

.container .main .button-bar .mode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main .button-bar .mode label input {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.container .main .button-bar .mode label {
    font-size: 20px;
    display: flex;
}

.main .journalPages-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}