.main {
    color: white;
    height: 100%;
}

.main hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.journalPages-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button-journalPages {
    margin: 34px 0 0 50px;
}

.main .journalPages-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.main .main-content-music {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.container .main .main-content-music .music-cover img {
    width: 650px;
    height: 550px;
    border-radius: 10px;
}

.container .main .main-content-music {
   display: flex;
}

.container .main .main-content-music .explore {
    margin: 0 0 0 40px;
    font-size: 30px;
    width: 100%;
}

.container .main .main-content-music .explore .rec {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1D1E1F;
    color: white;
    border-radius: 7px;
    align-items: center;
    margin-bottom: 20px;
}

.container .main .main-content-music .explore .rec .music-rec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .main .main-content-music .explore .rec .music-rec p {
    font-size: 20px;
    margin-left: 10px;
}

.container .main .main-content-music .explore .rec .music-rec img {
    width: 65px;
    height: 65px;
}

.container .main .main-content-music .explore .rec .play img {
    display: flex;
    width: 25px;
    height: 25px;
}

.container .main .button-bar {
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: #1D1E1F;
    border-radius: 20px;
}

.button-bar .button-content  {
    display: flex;
    flex-direction: column;
}

.button-bar .button-content .bar-duration {
    align-self: center;
    justify-self: center;
    margin: 40px 0 30px;
}

.button-bar .button-content .bar-duration .duration {
    width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-bar .button-content .button-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button-content .button-main .detail-music {
    justify-content: center;
    margin-left: 30px;
}

.button-content .button-main .detail-music .title {
    font-size: 30px;
}

.button-content .button-main .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-content .button-main .button img {
    width: 30px;
    height: 30px;
    margin: 0 15px 0 15px;
}

.button-content .button-main .button .play {
    width: 60px;
    height: 60px;
}

.button-content .button-main .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.button-content .button-main .mode label input {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.button-content .button-main .mode label {
    font-size: 20px;
    display: flex;
}

.main .journalPages-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}