.homePage-container{
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.homePage-container .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.content .homePage-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 34px 40px 20px 40px;
}

.content .homePage-top-content p {
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content .homePage-top-content .homePage-login-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage-login-option a{
    color: #F5F5F5;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
}

.homePage-login-option .google-option img{
    margin-right: 10px;
}

.homePage-login-option .google-option{
    padding: 17px 22px;
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #161616!important;
    position: relative;
}

.homePage-login-option .google-option::before{
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to right, #5946F4,#E17CB5, #A69CF8);
    z-index: -1;
}

.content .main-content {
    display: flex;
    margin: 30px;
}

.content .main-content .homePage-popular-songs{
    display: flex;
    flex-direction: column;
}

.content .main-content .homePage-popular-songs h1{
    color: var(--primary, #FFF);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0;
}

.main-content .popular-songs-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -7px;
}

.popular-songs-card .popular-songs-card-detail{
    width: 382px;
    background-color:  #1D1E1F;
    border-radius: 10px;
}

.popular-songs-list .popular-songs-card .popular-songs-card-detail .cover {
    width: 382px;
    height: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popular-songs-card .popular-songs-card-detail p:nth-child(2){
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.popular-songs-card .popular-songs-card-detail .card-info {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.homePage-feeling-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage-feeling-content p{
    font-size: 22px;
}

.homePage-feeling-content h2 {
    font-size: 35px;
}

.homePage-feeling-content .feeling-content-list {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 100px;
}

.homePage-music-content {
    display: flex;
    flex-direction: column;
}
.music-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 32px;
    margin-top: 15px;
}

.music-list-content .music-list-content-card {
    background-color:  #1D1E1F;
    height: 449px;
    border-radius: 10px;
}

.music-list-content .music-list-content-card .card-info {
    display: flex;
    padding: 5px 12px 12px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.music-list-content .music-list-content-card .cover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}









.homePage-container .homePage-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


