.homePage-container{
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.homePage-container .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

/* .main .storyPage-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main .storyPage-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.main hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.storyPage-core-top-content .back-button-journalPages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 34px 0 0 50px;
}

.storyPage-core-top-content .back-button-journalPages p{
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.storyPage-core-top-content .back-button-journalPages img{
    width: 28px;
    height: 50px;
}

.storyPage-core-top-content .user-profile img{
    width: 60px;
    height: 60px;
} */

.content .homePage-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.content .homePage-top-content p {
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 34px 0 25px 50px;
}

.content .homePage-top-content .homePage-login-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.homePage-login-option a{
    color: #F5F5F5;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
}

.homePage-login-option .google-option img{
    margin-right: 10px;
}

.homePage-login-option .google-option{
    padding: 17px 22px;
    margin-left: 52px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #161616!important;
    position: relative;
}

.homePage-login-option .google-option::before {
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to right, #5946F4,#E17CB5, #A69CF8);
    z-index: -1;
}

.content .homePage-main-content {
    margin: 40px;
}

.content .homePage-main-content .homePage-popular-songs{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.content .homePage-main-content .homePage-popular-songs h1{
    color: var(--primary, #FFF);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px 0;
}

.homePage-popular-songs .songs-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.homePage-popular-songs .songs-card .songs-card-detail{
    width: 360px;
    height: 465px;
    background-color:  #1D1E1F;
    border-radius: 10px;
}

.homePage-popular-songs .songs-list .songs-card .songs-card-detail .cover {
    width: 360px;
    height: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.homePage-popular-songs .songs-card .songs-card-detail .card-info {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.homePage-popular-songs .songs-card .songs-card-detail .card-info p {
    font-size: 16px;
}

.homePage-main-content .homePage-feeling-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage-main-content .homePage-feeling-content p{
    font-size: 22px;
}

.homePage-main-content .homePage-feeling-content h2 {
    font-size: 35px;
}

.homePage-main-content .homePage-feeling-content .feeling-content-list {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 100px;
}

.homePage-main-content .homePage-music-content {
    display: flex;
    flex-direction: column;
}

.homePage-main-content .music-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.homePage-main-content .music-list-content .music-list-content-card {
    background-color:  #1D1E1F;
    height: 450px;
    border-radius: 10px;
}

.homePage-main-content .music-list-content .music-list-content-card .card-info {
    display: flex;
    padding: 1px 12px 12px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    font-size: 16px;
}

.homePage-main-content .music-list-content .music-list-content-card .cover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
}

.homePage-main-content .homePage-music-content {
    margin-top: 40px;
}

.homePage-main-content .homePage-music-content .music-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.homePage-main-content .homePage-music-content .music-top-content h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.homePage-main-content .homePage-music-content .music-top-content a {
    justify-self: center;
    align-self: flex-end;
    padding-right: 20px;
    color: white;
    text-decoration: underline;
}

.homePage-main-content .homePage-story-content {
    margin-top: 40px;
}

.homePage-main-content .homePage-story-content .story-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.homePage-main-content .homePage-story-content .story-top-content h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.homePage-main-content .homePage-story-content .story-top-content a {
    justify-self: center;
    align-self: flex-end;
    padding-right: 20px;
    color: white;
    text-decoration: underline;
}

.homePage-main-content .story-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.homePage-main-content .story-list-content .story-list-content-card {
    background-color:  #1D1E1F;
    height: 450px;
    border-radius: 10px;
}

.homePage-main-content .story-list-content .story-list-content-card .card-info {
    display: flex;
    padding: 20px 20px 20px 12px;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
}

.homePage-main-content .story-list-content .story-list-content-card .cover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
}

.homePage-main-content .homePage-daily-reflection-content {
    margin-top: 40px
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.homePage-main-content .homePage-daily-reflection-content h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px 0;
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list .daily-reflection-content-card {
    background-color: #1D1E1F;
    width: 560px;
    height: 300px;
    border-radius: 10px;
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list .daily-reflection-content-card .card-detail {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list .daily-reflection-content-card .card-detail .main-detail{
    margin-top: 50px
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list .daily-reflection-content-card .card-detail .main-detail img {
    margin-bottom: 20px;
}

.homePage-main-content .homePage-daily-reflection-content .daily-reflection-content-list .daily-reflection-content-card .card-detail .main-detail h3{
    margin-bottom: 50px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.homePage-container .homePage-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}