.journalPages-container {
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.journalPages-container .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .journalPages-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .journalPages-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.content hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.content .journalPages-core-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 0;
}

.journalPages-core-top-content .back-button-journalPages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 34px 0 0 50px;
}

.journalPages-core-top-content .back-button-journalPages p{
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.journalPages-core-top-content .back-button-journalPages img{
    width: 28px;
    height: 50px;
}

.journalPages-core-top-content .user-profile img{
    width: 60px;
    height: 60px;
}

.content .main-content {
    display: flex;
    flex-direction: column;
}

.journalPages-add-note-content{
    margin: 40px 40px;
}

.journalPages-add-note-content h2{
    color: var(--primary, #FFF);
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.journalPages-add-note-content .add-note-input-field-area{
    position: relative;

}

.journalPages-add-note-content .add-note-input-field-area textarea{
    width: 100%;
    height: 155px;
    padding: 25px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #202122;
    border-radius: 15px;
}

.journalPages-add-note-content .add-note-input-field-area button{
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--f-570, #F5F5F5B2);
    text-decoration: underline;
    top: 110px;
    right: 20px;
    cursor: pointer;
}


.journalPages-recent-activity-content{
    margin: 0 40px;
}

.journalPages-recent-activity-content h2{
    font-size: 35px;
    font-weight: 500;
    line-height: 52.5px;
    text-align: left;   
    color : var(--primary, #FFFFFF);
    margin-bottom: 21px;
}

.journalPages-recent-activity-content .recent-activity-content-list{
    width: 100%;
    height: 511px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .journalPages-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
