.landingPage-nav {
    margin-top: 40px;
    width: 100vw;
}

.landingPage-nav .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.landingPage-nav .nav-content .group-links {
    display: flex;
    justify-content: center;
}

.landingPage-nav .group-links .links {
    width: 550px;
    left: 22%;
    padding: 20px 44px;
    border: none;
    border-radius: 1000px;
}


.landingPage-nav .group-links .links .links::after{
    content: '';
    position: absolute;
    height: 102.5%;
    width: 100.5%;
    top: -0.7px;
    border-radius: 1000px;
    background-image: linear-gradient(to right, #743ad5, #d53a9d);
    z-index : -1;
}

.landingPage-nav .group-links .links  ol{
    display: flex;
    gap: 100px;
    list-style: none;
}
 
.group-links .links ol li a{
    color: #F5F5F5;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

