.landingPage-nav {
    display: flex;
    width: 1316px;
    margin-top: 40px;
}

.landingPage-nav .logo {
    height: 70px
}

.landingPage-nav .links {
    margin-left: 258px;
    padding: 20px 44px;
    border: none;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #161616;
}

.links::after{
    content: '';
    position: absolute;
    height: 102.5%;
    width: 100.5%;
    top: -0.7px;
    border-radius: 1000px;
    background-image: linear-gradient(to right, #743ad5, #d53a9d);
    z-index : -1;
}

.links  ol{
    display: flex;
    gap: 100px;
    list-style: none;
}

.links ol li a{
    color: #F5F5F5;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

