.container {
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.main .musicPage-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main .musicPage-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.main hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}


.musicPage-core-top-content .back-button-journalPages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 34px 0 0 50px;
}

.musicPage-core-top-content .back-button-journalPages p{
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.musicPage-core-top-content .back-button-journalPages img{
    width: 28px;
    height: 50px;
}

.musicPage-core-top-content .user-profile img{
    width: 60px;
    height: 60px;
}

.main {
    color: white;
}

.main .music-core-content {
    height: 100vh;
}

.main .music-core-content .music-card {
    display: flex;
    justify-content: space-between;
    margin : 40px;
    flex-wrap: wrap;
}

.main .music-core-content .music-card .music-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .music-core-content .music-card .music-content p {
    margin-right: 20px;
}

.main .music-core-content .music-card .music-content img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    border-radius: 7px;
}

.main .music-core-content .music-card .music-duration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .music-core-content .music-card .music-duration p {
    margin-right: 36px;
}

.main .music-core-content .music-card .music-duration img {
    width: 25px;
    height: 25px;
}

.main .journalPages-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}