.container {
    display: grid;
    grid-template-columns: 220px 1fr; 
    height: 100%;
}

.main {
    color: white;
}

hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.main .music-core-content .music-card {
    display: flex;
    justify-content: space-between;
    margin : 40px;
}

.main .music-core-content .music-card .music-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .music-core-content .music-card .music-content p {
    margin-right: 20px;
}

.main .music-core-content .music-card .music-content img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    border-radius: 7px;
}

.main .music-core-content .music-card .music-duration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .music-core-content .music-card .music-duration p {
    margin-right: 36px;
}

.main .music-core-content .music-card .music-duration img {
    width: 25px;
    height: 25px;
}
