.side-nav {
    justify-content: center;
    position: fixed;
    height: 100%;
    background-color: #1D1E1F;
}

nav .side-nav-container .group-links a {
    margin: 0px;
    padding: 0px;
}

.side-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-links {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 23px 0px;
}

.group-links .icon-links {
    width: 220px;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 0px 7px 7px 0px;
    padding: 0 0 0 35px !important;
}

.group-links .icon-links p {
    color: rgba(245, 245, 245, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.active p {
    color: #F5F5F5 !important;
}

.group-links .icon-links img {
    margin-top: 68px !important;
    margin-right: 20px !important;
    width: 28px;
    height: 28px;
}

.side-nav-container img {
    margin: 34px 0 69px 0;
}

.active {
    background-color: #7363F5;
}

.home img {
    width: 42.992px !important;
    height: 42.317px !important;
    margin-left: -5px;
}

.home {
    margin-top: 68px !important;
    margin-right: 11.68px !important;
}

.home p {
    margin-left: -10px;
}

