.story-collection {
    width: 270px;
    height: 400px;
    background-color:  #1D1E1F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.story-collection .story-cover img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
}

.story-collection .detail-story {
    background-color:  #1D1E1F;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.story-collection .detail-story .title {
    font-size: 20px;
    justify-self: flex-start;
}

.story-collection .detail-story a {
    background-color: #7363F5;
    text-align: center;
    width: 75px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    height: 30px;
    justify-self: flex-end;
}