.container {
    display: grid;
    grid-template-columns: 220px 1fr;    
}

.main .storyPage-core-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main .storyPage-core-top-content .user-profile {
    margin: 32px 38px 0 0;
}

.main hr {
    border-top: 1px solid #A69CF8;
    width: 90%;
    margin: auto;
}

.storyPage-core-top-content .back-button-journalPages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 34px 0 0 50px;
}

.storyPage-core-top-content .back-button-journalPages p{
    color: var(--primary, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.storyPage-core-top-content .back-button-journalPages img{
    width: 28px;
    height: 50px;
}

.storyPage-core-top-content .user-profile img{
    width: 60px;
    height: 60px;
}

.main {
    width: 100%;
    color: white;
}

.main .recent {
    margin: 40px; 
}

.main .recent h1 {
    color: var(--primary, #FFF);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px 0;
}

.main .recent .history {
    width: 100%;
    height: 446px;
    display: flex;
    justify-content: space-around;
}

.main .recent .history .story-card {
    width: 270px;
    height: 440px;
    background-color:  #1D1E1F;
}

.main .recent .history .story-card .story-cover img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
}

.main .recent .history .story-card .detail-story {
    background-color:  #1D1E1F;
    height: 106px;
    padding: 12.7px 0 0 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .recent .history .story-card .detail-story .title {
    font-size: 20px;
}

.main .recent .history .story-card .detail-story .continue-read {
    background-color: #A69CF8;
    text-align: center;
    width: 200px;
    padding: 4px;
    border-radius: 5px;
}

.main .recent .history .story-card .detail-story .continue-read .percentage {
    font-size: 12px;
}

.main .main-story {
    margin: 40px; 
}

.main .main-story h1 {
    color: var(--primary, #FFF);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px 0;
}

.main .main-story .collection {
    height: 431px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main .main-story .collection .story-card {
    width: 270px;
    height: 440px;
    background-color:  #1D1E1F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .main-story .collection .story-card .story-cover img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
}

.main .main-story .collection .story-card .detail-story {
    background-color:  #1D1E1F;
    height: 100px;
    padding: 12.7px 0 0 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .main-story .collection .story-card .detail-story .title {
    font-size: 20px;
}

.main .main-story .collection .story-card .detail-story button {
    background-color: #A69CF8;
    text-align: center;
    width: 75px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.main .recent .history .story-card .detail-story .continue-read .percentage {
    font-size: 12px;
}

.main .journalPages-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}